.container {
  width: calc(100% - 20px);
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  background-color: #363636c5;
  border-radius: 10px;
  border: 4px double #dcdcdc;
  margin-top: 30px;
  margin-bottom: 30px;
}

.container:hover {
  border: 4px double #f7ba06;
}

.container:hover .title,
.container:hover .text {
  color: #f7ba06;
}

.container:hover .icon__watch,
.container:hover .icon__time {
  fill: #f7ba06;
}

.container:hover .text:nth-child(2),
.container:hover .text:nth-child(2) {
  @media screen and (min-width: 1200px) {
    border-left: 5px solid #f7ba06;
    border-right: 5px solid #f7ba06;
  }
}

.title {
  font-family: 'Playfair Display', serif;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  color: #dcdcdc;
  text-align: center;
  margin: 0;
  padding-top: 15px;
}

.icon__watch {
  width: 22px;
  height: 22px;
  margin-right: 10px;
  fill: #dcdcdc;
  align-items: center;
}

.schedule {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  @media screen and (min-width: 1200px) {
    margin-bottom: 20px;
  }
}
.sectson {
  text-align: justify;
  @media screen and (min-width: 1200px) {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
  }
}

.text {
  font-family: 'Playfair Display', serif;
  font-size: 16px;
  font-weight: 700;
  color: #dcdcdc;
  @media screen and (min-width: 768px) {
    font-size: 18px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 24px;
  }
}

.text:nth-child(2) {
  border: none;
  @media screen and (min-width: 1200px) {
    margin-left: 5px;
    margin-right: 5px;
    padding-left: 20px;
    padding-right: 20px;
    border-left: 5px solid #dcdcdc;
    border-right: 5px solid #dcdcdc;
  }
}

.icon__time {
  width: 64px;
  display: block;
  height: 64px;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 20px;
  fill: #dcdcdc;
}
