.head {
  background-color: #363636;
  @media screen and (min-width: 1200px) {
    padding: 15px;
   }
}
.container {
  max-width: 1400px;
   border: 8px double #dcdcdc;
  @media screen and (min-width: 768px) {
    border: none;
    display: flex;
  }
  @media screen and (min-width: 1200px) {
   margin-left: auto;
   margin-right: auto;

  }
}
.section {
  @media screen and (min-width: 768px) {
    width: calc(100% / 4 * 2);
  }
  @media screen and (min-width: 1200px) {
    width: calc(100% / 4 * 3);
    display: flex;
  }
}

.picture {
  width: 48px;
  display: block;
  padding-top: 15px;
  margin-left: auto;
  margin-right: auto;
  fill: 254, 205, 165, 0.3;
  stroke: 254, 205, 165, 0.3;
  @media screen and (min-width: 768px) {
    width: 72px;
  }
}

.logo {
  display: none;
  @media screen and (min-width: 768px) {
    width: 94px;
    height: 110px;
    display: block;
    padding-top: 8px;
    margin: auto;
    filter: invert(0.85);
     }
}

.notary {
  @media screen and (min-width: 768px) {
    width: calc(100% / 4 * 2 + 100px);
    display: block;
    margin-left: auto;
    margin-right: auto;
  
  }
  @media screen and (min-width: 1200px) {
    width: calc(100% / 4 * 3);
     }
}

.section__name {
  @media screen and (min-width: 1200px) {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
}

.city,
.job,
.name,
.certificate {
  font-family: 'Playfair Display', serif;
  color: #dcdcdc;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.city {
  font-size: 12px;
}
.job {
  font-size: 22px;
  margin: 0;
  @media screen and (min-width: 768px) {
    margin-bottom: 10px;
  }
}
.name {
  font-size: 36px;
  margin: 15px;
  @media screen and (min-width: 768px) {
    margin: 2px;
  }
}
.certificate {
  font-size: 12px;
  padding-bottom: 10px;
  margin: 5px;
  @media screen and (min-width: 768px) {
    margin-top: 7px;
    padding-top: 7px;
    padding-bottom: 3px;
  }
}
