.container {
    background-color:#363636;
    border: 8px double #DAA520;
    border: 8px double #DCDCDC; 
}

.picture {
    width: 48px;
    display: block;
    padding-top: 15px;
    margin-left: auto;
    margin-right: auto;
    fill: 254,205,165, 0.3;
    stroke: 254,205,165, 0.3;
}

.city,
.job,
.name,
.certificate {
    font-family: 'Playfair Display', serif;
    color: #DCDCDC;
    /* color: #B0C4DE; */
    text-align: center;
    align-items: center;
    justify-content: center;
 
}


.city {
font-size: 12px;
}
.job {
    font-size: 22px;
    margin: 0;
}
.name {
    font-size: 36px;
    margin: 15px;
    /* color: #B8860B; */
}
.certificate {
    font-size: 12px;
    padding-bottom: 10px ;
    margin: 5px;
}