.container {
  width: 100%;
  max-width: 1400px;
  height: fit-content;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

iframe {
  width: 100%;
  border-radius: 15px;
  border: none;
}
.title {
  font-family: 'Playfair Display', serif;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  color: #e3a404;
  text-align: center;
  align-items: center;
}

.icon__poit {
  width: 22px;
  height: 24px;
  margin-right: 5px;
  margin-top: 8px;
  fill: #e3a404;
  stroke: #e3a404;
}
